.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.freq-table {
  float: left;
}

.write-div {
  min-height: 50vh;
  width: 50%;
  float: right;
}

.write-area {
  height: 100%;
  min-height: 50vh;
  width: 100%;
}